<!DOCTYPE HTML>
<html>
<head>
    <title>Template test</title>
    <!--<link rel = "stylesheet" type="text/css" href="../static/css/css.css"> -->
</head>

<body style="background-color: black; color: green;">
Hello {{.}}!
</body>
</html>